body {
    margin: 25px auto;
    width: 600px;
    text-align: center;
    background: black;
    color: white;
}

textarea {
    background: black;
    border: 1px white solid;
    color: white;
    white-space: pre-wrap;
}

#output {
    text-align: left;
    height: 300px;
    width: 600px;
    border: 1px white solid;
    margin: auto;
    color: white;
    overflow: auto;
}

